<h1>All Products</h1>

<% if user_signed_in? %>
  <%= link_to "New product", new_product_path %>
<% end %>


<ul>
  <% @products.each do |product| %>
    <li>

      ID: <%= product.id %> - 

      <a href="/products/<%= product.id %>">
        Name: <%= product.name.presence || "(no name)" %> - 
      </a>
      Created: <%= product.created_at.strftime("%Y-%m-%d %H:%M") %>
    </li>
  <% end %>
</ul>
